
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 16px; /* was 100% */
  font-family: 'Oxygen', sans-serif; /* Brad added */ 
  /*font: inherit;*/
  color: #333; /* Brad added */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, div {
	display: flex; /* was block */
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @@@@@@@@@@ END MYER RESET @@@@@@@@@@@@@ */

* {
  box-sizing: border-box;
}
div::-webkit-scrollbar,
p::-webkit-scrollbar,
form::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
button:focus {
  outline: none;
}
/* @@@@@@@@@@ END BRAD RESET @@@@@@@@@@@@@ */

.model {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.column {
  width: 10px;
  flex-direction: column;
}
.rain {
  height: 300px;
  background-color: white;
  position: relative;
}
.drip {
  height: 100%;
  background-color: white;
  position: relative;
  flex: 1;
}

.raindrop,
.cisterndrop {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}
.raindrop {
  transition: top 0.2s ease-in-out;
}
.cisterndrop {
  transition: top 0.3s ease-in-out;
}
.raindrop.raining,
.cisterndrop.dripping {
  top: 100%;
  background-color: blue;
  opacity: 1;
}
.cisterndrop.dripping {
  margin-top: -12px;
}
.profile {
  background-color: rgb(233, 222, 190);
  flex-direction: column;
}
.drop {
  position: relative;
  border-radius: 15%;
  height: 10px;
  transition: background-color 0.1s ease-in-out;
}

.slot-count {
  font-size: 6px;
}

.cistern {
  position: relative;
  left: 0;
  top: 380px;
  width: 200px;
  height: 500px;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #333;
}
.cistern-full {
  background-color: blue;
}

.cistern-count {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 25px;
  margin-left: -12.5px;
  color: white;
  z-index: 3;
}